<% mainClass = "" %>
<% page = userName %>

<h1 class="title">Dashboard</h1>

<div class="section">
  <h2 class="title title--s4">Account</h2>
  <p class="text">Username: <%= userName %> (uid: <%= userId %>) <a class="link" href="/logout">Sign out</a></p>
</div>

<div class="section">
  <h2 class="title title--s4">Files</h2>
  <ul class="list">
    <% files.map((file, index) => { %>
      <li class="list__item flex-wrapper">
        <div class="delete-btns-wrapper">
          <a class="icon icon--action-delete-open" tabIndex="0" role="button" aria-label="Delete file">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512">
              <path class="icon__path" d="M64 160v320c0 17.6 14.4 32 32 32h288c17.6 0 32-14.4 32-32v-320h-352zM160 448h-32v-224h32v224zM224 448h-32v-224h32v224zM288 448h-32v-224h32v224zM352 448h-32v-224h32v224z"></path>
              <path class="icon__path" d="M424 64h-104v-40c0-13.2-10.8-24-24-24h-112c-13.2 0-24 10.8-24 24v40h-104c-13.2 0-24 10.8-24 24v40h416v-40c0-13.2-10.8-24-24-24zM288 64h-96v-31.599h96v31.599z"></path>
            </svg>
          </a>
          <div class="delete-btns">
            <a class="icon icon--success" data-href="<%= file.fileName %>" data-type="file">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512">
                <path d="M432 64l-240 240-112-112-80 80 192 192 320-320z"></path>
              </svg>
            </a>
            <a class="icon icon--error icon--action-delete-close">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512">
                <path d="M507.331 411.33c-0.002-0.002-0.004-0.004-0.006-0.005l-155.322-155.325 155.322-155.325c0.002-0.002 0.004-0.003 0.006-0.005 1.672-1.673 2.881-3.627 3.656-5.708 2.123-5.688 0.912-12.341-3.662-16.915l-73.373-73.373c-4.574-4.573-11.225-5.783-16.914-3.66-2.080 0.775-4.035 1.984-5.709 3.655 0 0.002-0.002 0.003-0.004 0.005l-155.324 155.326-155.324-155.325c-0.002-0.002-0.003-0.003-0.005-0.005-1.673-1.671-3.627-2.88-5.707-3.655-5.69-2.124-12.341-0.913-16.915 3.66l-73.374 73.374c-4.574 4.574-5.784 11.226-3.661 16.914 0.776 2.080 1.985 4.036 3.656 5.708 0.002 0.001 0.003 0.003 0.005 0.005l155.325 155.324-155.325 155.326c-0.001 0.002-0.003 0.003-0.004 0.005-1.671 1.673-2.88 3.627-3.657 5.707-2.124 5.688-0.913 12.341 3.661 16.915l73.374 73.373c4.575 4.574 11.226 5.784 16.915 3.661 2.080-0.776 4.035-1.985 5.708-3.656 0.001-0.002 0.003-0.003 0.005-0.005l155.324-155.325 155.324 155.325c0.002 0.001 0.004 0.003 0.006 0.004 1.674 1.672 3.627 2.881 5.707 3.657 5.689 2.123 12.342 0.913 16.914-3.661l73.373-73.374c4.574-4.574 5.785-11.227 3.662-16.915-0.776-2.080-1.985-4.034-3.657-5.707z"></path>
              </svg>
            </a>
          </div>
        </div>
        <p><a class="link" target="_blank" href="/f/<%= file.fileName %>"><%= file.displayName %></a> <%= file.fileSize %> <%= file.mimeType %> <%= file.md5 %></p>
      </li>
      <% if (index === 30) {%>
        <li class="scroll"></li>
      <% } %>
    <% }) %>
  </ul>
</div>

<div class="section">
  <h2 class="title title--s4">Shortened URLs</h2>
  <ul class="list">
    <% urls.map((url, index) => { %>
      <li class="list__item flex-wrapper">
        <div class="delete-btns-wrapper">
          <a class="icon icon--action-delete-open" tabIndex="0" role="button" aria-label="Delete url">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512">
              <path class="icon__path" d="M64 160v320c0 17.6 14.4 32 32 32h288c17.6 0 32-14.4 32-32v-320h-352zM160 448h-32v-224h32v224zM224 448h-32v-224h32v224zM288 448h-32v-224h32v224zM352 448h-32v-224h32v224z"></path>
              <path class="icon__path" d="M424 64h-104v-40c0-13.2-10.8-24-24-24h-112c-13.2 0-24 10.8-24 24v40h-104c-13.2 0-24 10.8-24 24v40h416v-40c0-13.2-10.8-24-24-24zM288 64h-96v-31.599h96v31.599z"></path>
            </svg>
          </a>
          <div class="delete-btns">
            <a class="icon icon--success" data-href="<%= url.key %>" data-type="url">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512">
                <path d="M432 64l-240 240-112-112-80 80 192 192 320-320z"></path>
              </svg>
            </a>
            <a class="icon icon--error icon--action-delete-close">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512">
                <path d="M507.331 411.33c-0.002-0.002-0.004-0.004-0.006-0.005l-155.322-155.325 155.322-155.325c0.002-0.002 0.004-0.003 0.006-0.005 1.672-1.673 2.881-3.627 3.656-5.708 2.123-5.688 0.912-12.341-3.662-16.915l-73.373-73.373c-4.574-4.573-11.225-5.783-16.914-3.66-2.080 0.775-4.035 1.984-5.709 3.655 0 0.002-0.002 0.003-0.004 0.005l-155.324 155.326-155.324-155.325c-0.002-0.002-0.003-0.003-0.005-0.005-1.673-1.671-3.627-2.88-5.707-3.655-5.69-2.124-12.341-0.913-16.915 3.66l-73.374 73.374c-4.574 4.574-5.784 11.226-3.661 16.914 0.776 2.080 1.985 4.036 3.656 5.708 0.002 0.001 0.003 0.003 0.005 0.005l155.325 155.324-155.325 155.326c-0.001 0.002-0.003 0.003-0.004 0.005-1.671 1.673-2.88 3.627-3.657 5.707-2.124 5.688-0.913 12.341 3.661 16.915l73.374 73.373c4.575 4.574 11.226 5.784 16.915 3.661 2.080-0.776 4.035-1.985 5.708-3.656 0.001-0.002 0.003-0.003 0.005-0.005l155.324-155.325 155.324 155.325c0.002 0.001 0.004 0.003 0.006 0.004 1.674 1.672 3.627 2.881 5.707 3.657 5.689 2.123 12.342 0.913 16.914-3.661l73.373-73.374c4.574-4.574 5.785-11.227 3.662-16.915-0.776-2.080-1.985-4.034-3.657-5.707z"></path>
              </svg>
            </a>
          </div>
        </div>
        <p><a class="link" target="_blank" href="<%= shortenerBaseUrl %><%= url.key %>"><%= url.key %></a> <span><%= url.url %></span> Visits: <%= url.visitCount %> MaxVisits: <%= url.maxVisitCount ?? "no limit" %></p>
      </li>
      <% if (index === 30) {%>
        <li class="scroll"></li>
      <% } %>
    <% }) %>
  </ul>
</div>

<script>
  document.querySelectorAll(".icon--action-delete-open").forEach(btn => {
    btn.addEventListener("click", () => {
      btn.nextElementSibling.classList.toggle("delete-btns--open");
      btn.parentElement.parentElement.classList.toggle("flex-wrapper--gap");
    });
  });

  document.querySelectorAll(".icon--action-delete-close").forEach(btn => {
    btn.addEventListener("click", () => {
      btn.parentElement.classList.remove("delete-btns--open");
    });
  });

  document.querySelectorAll(".icon--success").forEach(deleteBtn => {
    deleteBtn.addEventListener("click", (event) => {
      event.preventDefault();
      if (deleteBtn.dataset.type === "file") {
        fetch(`/f/${deleteBtn.dataset.href}`, {
          method: "DELETE",
          headers: {
            "X-CSRF-Token": "<%= csrfToken %>"
          },
        }).then((response) => {
            if (response.ok) {
              deleteBtn.closest(".list__item").remove();
            }
        });
      } else if (deleteBtn.dataset.type === "url") {
        fetch(`/shortener/${deleteBtn.dataset.href}`, {
          method: "DELETE",
          headers: {
            "X-CSRF-Token": "<%= csrfToken %>"
          },
        }).then((response) => {
            if (response.ok) {
              deleteBtn.closest(".list__item").remove();
            }
        });
      }
    });
  });
</script>

<script>
let filesLength = Number("<%= files.length %>");

// TODO: Refactor this and replace observer with a button

let callback = (entries, observer) => {
  if (entries[0].isIntersecting) {
    fetch(`/api/files?offset=${filesLength}&isOwner=true`)
      .then(response => response.json())
      .then(data => {
        let list = document.querySelector(".list");
        filesLength += data.length;
        document.querySelector(".scroll").remove();
        data.map((file, index) => {
          let li = document.createElement("li");
          li.classList.add("list__item");
          li.classList.add("flex-wrapper");
          li.innerHTML = `<div class="delete-btns-wrapper">
    <a class="icon icon--action-delete-open" tabIndex="0" role="button" aria-label="Delete file">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512">
        <path class="icon__path" d="M64 160v320c0 17.6 14.4 32 32 32h288c17.6 0 32-14.4 32-32v-320h-352zM160 448h-32v-224h32v224zM224 448h-32v-224h32v224zM288 448h-32v-224h32v224zM352 448h-32v-224h32v224z"></path>
        <path class="icon__path" d="M424 64h-104v-40c0-13.2-10.8-24-24-24h-112c-13.2 0-24 10.8-24 24v40h-104c-13.2 0-24 10.8-24 24v40h416v-40c0-13.2-10.8-24-24-24zM288 64h-96v-31.599h96v31.599z"></path>
      </svg>
    </a>
    <div class="delete-btns">
      <a class="icon icon--success" data-href="${file.fileName}" data-type="file">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512">
          <path d="M432 64l-240 240-112-112-80 80 192 192 320-320z"></path>
        </svg>
      </a>
      <a class="icon icon--error icon--action-delete-close">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512">
          <path d="M507.331 411.33c-0.002-0.002-0.004-0.004-0.006-0.005l-155.322-155.325 155.322-155.325c0.002-0.002 0.004-0.003 0.006-0.005 1.672-1.673 2.881-3.627 3.656-5.708 2.123-5.688 0.912-12.341-3.662-16.915l-73.373-73.373c-4.574-4.573-11.225-5.783-16.914-3.66-2.080 0.775-4.035 1.984-5.709 3.655 0 0.002-0.002 0.003-0.004 0.005l-155.324 155.326-155.324-155.325c-0.002-0.002-0.003-0.003-0.005-0.005-1.673-1.671-3.627-2.88-5.707-3.655-5.69-2.124-12.341-0.913-16.915 3.66l-73.374 73.374c-4.574 4.574-5.784 11.226-3.661 16.914 0.776 2.080 1.985 4.036 3.656 5.708 0.002 0.001 0.003 0.003 0.005 0.005l155.325 155.324-155.325 155.326c-0.001 0.002-0.003 0.003-0.004 0.005-1.671 1.673-2.88 3.627-3.657 5.707-2.124 5.688-0.913 12.341 3.661 16.915l73.374 73.373c4.575 4.574 11.226 5.784 16.915 3.661 2.080-0.776 4.035-1.985 5.708-3.656 0.001-0.002 0.003-0.003 0.005-0.005l155.324-155.325 155.324 155.325c0.002 0.001 0.004 0.003 0.006 0.004 1.674 1.672 3.627 2.881 5.707 3.657 5.689 2.123 12.342 0.913 16.914-3.661l73.373-73.374c4.574-4.574 5.785-11.227 3.662-16.915-0.776-2.080-1.985-4.034-3.657-5.707z"></path>
        </svg>
      </a>
    </div>
  </div>
  <p><a class="link" target="_blank" href="/f/${file.fileName}">${file.displayName}</a> ${file.fileSize} ${file.mimeType} ${file.md5}</p>`
          list.appendChild(li);
          
          if (index === data.length - 6) {
            let scroll = document.createElement("li");
            scroll.classList.add("scroll");
            list.appendChild(scroll);
            observer.observe(scroll);
          }
        });
      })
      .catch(error => console.error(error));
  }
}

function createObserver() {
  let observer;
  let options = {
    root: null,
    rootMargin: "0px",
    threshold: 1.0
  };

  observer = new IntersectionObserver(callback, options);
  observer.observe(document.querySelector(".scroll"));
}

if (document.querySelector(".scroll")) {
  window.addEventListener("load", createObserver, false);
}
</script>
