<% mainClass = "class=center" %>
<% page = downloadName %>

<div class="file-wrapper">
  <div class="file-title">
    <a class="icon" href="/f/<%= fileName %>/<%= downloadName %>">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512">
        <path d="M368 224l-128 128-128-128h80v-192h96v192zM240 352h-240v128h480v-128h-240zM448 416h-64v-32h64v32z"></path>
      </svg>
    </a>
    <h1 class="title title--s4"><%= downloadName %></h1>
    <div class="delete-btns-wrapper">
      <a id="delete-btn-open" class="icon" tabIndex="0" role="button" aria-label="Delete file">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512">
          <path class="icon__path" d="M64 160v320c0 17.6 14.4 32 32 32h288c17.6 0 32-14.4 32-32v-320h-352zM160 448h-32v-224h32v224zM224 448h-32v-224h32v224zM288 448h-32v-224h32v224zM352 448h-32v-224h32v224z"></path>
          <path class="icon__path" d="M424 64h-104v-40c0-13.2-10.8-24-24-24h-112c-13.2 0-24 10.8-24 24v40h-104c-13.2 0-24 10.8-24 24v40h416v-40c0-13.2-10.8-24-24-24zM288 64h-96v-31.599h96v31.599z"></path>
        </svg>
      </a>
      <div class="delete-btns">
        <a id="delete-btn" class="icon icon--success">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512">
            <path d="M432 64l-240 240-112-112-80 80 192 192 320-320z"></path>
          </svg>
        </a>
        <a id="delete-btn-close" class="icon icon--error">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512">
            <path d="M507.331 411.33c-0.002-0.002-0.004-0.004-0.006-0.005l-155.322-155.325 155.322-155.325c0.002-0.002 0.004-0.003 0.006-0.005 1.672-1.673 2.881-3.627 3.656-5.708 2.123-5.688 0.912-12.341-3.662-16.915l-73.373-73.373c-4.574-4.573-11.225-5.783-16.914-3.66-2.080 0.775-4.035 1.984-5.709 3.655 0 0.002-0.002 0.003-0.004 0.005l-155.324 155.326-155.324-155.325c-0.002-0.002-0.003-0.003-0.005-0.005-1.673-1.671-3.627-2.88-5.707-3.655-5.69-2.124-12.341-0.913-16.915 3.66l-73.374 73.374c-4.574 4.574-5.784 11.226-3.661 16.914 0.776 2.080 1.985 4.036 3.656 5.708 0.002 0.001 0.003 0.003 0.005 0.005l155.325 155.324-155.325 155.326c-0.001 0.002-0.003 0.003-0.004 0.005-1.671 1.673-2.88 3.627-3.657 5.707-2.124 5.688-0.913 12.341 3.661 16.915l73.374 73.373c4.575 4.574 11.226 5.784 16.915 3.661 2.080-0.776 4.035-1.985 5.708-3.656 0.001-0.002 0.003-0.003 0.005-0.005l155.324-155.325 155.324 155.325c0.002 0.001 0.004 0.003 0.006 0.004 1.674 1.672 3.627 2.881 5.707 3.657 5.689 2.123 12.342 0.913 16.914-3.661l73.373-73.374c4.574-4.574 5.785-11.227 3.662-16.915-0.776-2.080-1.985-4.034-3.657-5.707z"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>

  <% if (user !== undefined) { %>
    <div>
      <label for="languageSelect">Change language:</label>
      <select class="form__input form__select form__select--outside" id="languageSelect" name="language"></select>
    </div>
  <% } %>

  <% if (mimeType.startsWith("image")) { %>
    <img src="/f/<%= fileName %>/<%= downloadName %>" alt="<%= downloadName %>" class="file-embed">
  <% } else if (mimeType.startsWith("audio")) { %>
    <audio controls class="file-embed">
      <source src="/f/<%= fileName %>/<%= downloadName %>" type="<%= mimeType %>">
      No audio with supported format and MIME type found.
    </audio>
  <% } else if (mimeType.startsWith("video")) { %>
    <video controls class="file-embed">
      <source src="/f/<%= fileName %>/<%= downloadName %>" type="<%= mimeType %>">
      No video with supported format and MIME type found.
    </video>
  <% } else if (language) {%>
    <div class="file-embed">
      <pre class="text-block"><code class="language-<%= language %>"><%= fileContent %></code></pre>
    </div>
    <link id="highlightStyle" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
  <% } else if (mimeType.startsWith("text")) { %>
    <div class="file-embed">
      <pre class="text-block"><%= fileContent %></pre>
    </div>
  <% } else { %>
    <p class="file-embed">Preview not available for this type of file.</p>
  <% } %>
</div>

<script src="/languages.js"></script>
<script>
  const language = document.getElementById("languageSelect");
  const lang = "<%= language %>";

  languages.forEach((lang) => {
    const option = document.createElement("option");
    option.value = lang.value;
    option.textContent = lang.name;
    language.appendChild(option);
  });

  language.value = lang === "" ? "none" : lang;

  language.addEventListener("change", () => {
    fetch(`/f/<%= fileName %>?language=${language.value}`, {
      method: "PATCH",
      headers: {
        "Content-Type": "application/json",
        "X-CSRF-Token": "<%= csrfToken %>"
      },
    }).then(() => {
      window.location.reload();
    });
  });

  const deleteBtn = document.getElementById("delete-btn");
  const deleteBtnOpen = document.getElementById("delete-btn-open");
  const deleteBtnClose = document.getElementById("delete-btn-close");
  deleteBtn.addEventListener("click", () => {
    fetch(`/f/<%= fileName %>`, {
      method: "DELETE",
      headers: {
        "X-CSRF-Token": "<%= csrfToken %>"
      },
    }).then(() => {
      window.location.href = "/dashboard";
    });
  });

  deleteBtnOpen.addEventListener("click", () => {
    deleteBtnOpen.nextElementSibling.classList.toggle("delete-btns--open");
    deleteBtnOpen.parentElement.parentElement.classList.toggle("file-title--fgap");
  });

  deleteBtnClose.addEventListener("click", () => {
    deleteBtnClose.parentElement.classList.remove("delete-btns--open");
  });
  
  const prefersLightColorScheme = window.matchMedia && window.matchMedia("(prefers-color-scheme: light)").matches;
  if (prefersLightColorScheme) {
    document.getElementById("highlightStyle").href = "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-light.min.css";
  }
</script>