<% mainClass = "class=center" %>
<% page = downloadName %>

<div class="file-wrapper">
  <div class="file-title">
    <a class="icon" href="/f/<%= fileName %>/<%= downloadName %>">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512">
        <path d="M368 224l-128 128-128-128h80v-192h96v192zM240 352h-240v128h480v-128h-240zM448 416h-64v-32h64v32z"></path>
      </svg>
    </a>
    <h1 class="title title--s4"><%= downloadName %></h1>
    <% if (isOwner) { %>
      <div class="flex-wrapper flex-wrapper--gap">
        <%- include("components/deleteButtons", { data: fileName, type: "file" }) %>
      </div>
    <% } %>
  </div>

  <% if (isOwner) { %>
    <div>
      <label for="languageSelect">Change language:</label>
      <select class="form__input form__select form__select--outside" id="languageSelect" name="language"></select>
    </div>
  <% } %>

  <% if (mimeType.startsWith("image")) { %>
    <img src="/f/<%= fileName %>/<%= downloadName %>" alt="<%= downloadName %>" class="file-embed">
  <% } else if (mimeType.startsWith("audio")) { %>
    <audio controls class="file-embed">
      <source src="/f/<%= fileName %>/<%= downloadName %>" type="<%= mimeType %>">
      No audio with supported format and MIME type found.
    </audio>
  <% } else if (mimeType.startsWith("video")) { %>
    <video controls class="file-embed">
      <source src="/f/<%= fileName %>/<%= downloadName %>" type="<%= mimeType %>">
      No video with supported format and MIME type found.
    </video>
  <% } else if (language) {%>
    <div class="file-embed">
      <pre class="text-block"><code class="language-<%= language %>"><%= fileContent %></code></pre>
    </div>
    <link id="highlightStyle" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
  <% } else if (mimeType.startsWith("text")) { %>
    <div class="file-embed">
      <pre class="text-block"><%= fileContent %></pre>
    </div>
  <% } else { %>
    <p class="file-embed">Preview not available for this type of file.</p>
  <% } %>
</div>

<%- include("components/deleteButtonsScript") %>

<script src="/languages.js"></script>
<script>
  const language = document.getElementById("languageSelect");
  const lang = "<%= language %>";

  languages.forEach((lang) => {
    const option = document.createElement("option");
    option.value = lang.value;
    option.textContent = lang.name;
    language.appendChild(option);
  });

  language.value = lang === "" ? "none" : lang;

  language.addEventListener("change", () => {
    fetch(`/api/files/<%= fileName %>?language=${language.value}`, {
      method: "PATCH",
      headers: {
        "Content-Type": "application/json",
        "X-CSRF-Token": "<%= csrfToken %>"
      },
    }).then((res) => {
      if (res.ok) {
        window.location.reload();
      }
    });
  });
  
  const prefersLightColorScheme = window.matchMedia && window.matchMedia("(prefers-color-scheme: light)").matches;
  if (prefersLightColorScheme) {
    document.getElementById("highlightStyle").href = "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-light.min.css";
  }
</script>