<% mainClass = "" %>
<% page = "Files" %>

<h1 class="title">Files</h1>

<ul class="list">
  <% files.forEach(file => { %>
    <li class="list__item">
      <p><a class="link" target="_blank" href="/f/<%= file.fileName %>"><%= file.displayName %></a> <%= file.fileSize %> <%= file.mimeType %> <%= file.md5 %></p>
    </li>
  <% }) %>
</ul>