<h1>Files</h1>

<ul>
  <% files.forEach(file => { %>
    <li>
      <p><a href="/f/<%= file.fileName %>"><%= file.displayName %></a> <%= file.fileSize %> <%= file.mimeType %> <%= file.md5 %></p>
    </li>
  <% }) %>
</ul>