<% mainClass = "class=center" %>
<% page = "Sign in" %>

<h1 class="title">Sign in</h1>

<form action="/login" method="POST" class="form">
  <div class="form__items">
    <label class="form__label" for="userName">Username:</label>
    <input class="form__input" type="text" id="userName" name="userName" maxlength="<%= UserNameLen %>" value="<%= formData.userName %>" required>

    <label class="form__label" for="password">Password:</label>
    <input class="form__input" type="password" id="password" name="password" maxlength="<%= PasswordLen %>" required>
  </div>

  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <% if(errorMessage) { %>
    <p class="error"><%= errorMessage %></p>
  <% } %>
  <button class="btn" type="submit">Sign in</button>
</form>

<p>Don't have an account? <a class="link" href="/register">Sign up</a></p>