<% mainClass = "class=center" %>
<% page = "Sign up" %>

<h1 class="title">Sign up</h1>

<form action="/register" method="POST" class="form">
  <div class="form__items">
    <label class="form__label" for="downloadName">Username:</label>
    <div class="form__input-wrapper">
      <input class="form__input" type="text" id="userName" name="userName" maxlength="<%= UserNameLen %>" value="<%= formData.userName %>" required>
    </div>

    <label class="form__label" for="displayName">Password:</label>
    <div class="form__input-wrapper">
      <input class="form__input" type="password" id="password" name="password" maxlength="<%= PasswordLen %>" required>
    </div>

    <label class="form__label" for="displayName">Invite code:</label>
    <div class="form__input-wrapper">
      <input class="form__input" autocomplete="off" type="text" id="inviteCode" name="inviteCode" maxlength="<%= InviteCodeLen %>" value="<%= formData.inviteCode %>" required>
    </div>
  </div>

  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <% if(errorMessage) { %>
    <p class="error"><%= errorMessage %></p>
  <% } %>
  <button class="btn" type="submit">Sign up</button>
</form>

<p>Already have an account? <a class="link" href="/login">Sign in</a></p>