<% mainClass = "class=center" %>
<% page = "Upload" %>

<h1 class="title">Upload</h1>

<form action="/upload" method="POST" enctype="multipart/form-data" class="form">
  <div class="form__items">
    <label class="form__label" for="file">Select a file:</label>
    <div class="form__input">
      <label class="btn btn--primary" for="file" tabIndex="0" aria-label="Browse files">Browse</label>
      <span id="fileName">No file selected.</span>
      <input style="display: none;" type="file" id="file" name="file" required>
    </div>

    <label class="form__label" for="downloadName">Download Name:</label>
    <input class="form__input" autocomplete="off" placeholder="cat.png" type="text" id="downloadName"
      name="downloadName" maxlength="<%= DownloadLen %>" value="<%= formData.downloadName %>" required>

    <label class="form__label" for="displayName">Display Name:</label>
    <input class="form__input" autocomplete="off" placeholder="Cute cat" type="text" id="displayName"
      name="displayName" maxlength="<%= DisplayLen %>" value="<%= formData.displayName %>" required>

    <label class="form__label" for="languageSelect">Language Select:</label>
    <select class="form__input form__select" id="languageSelect" name="language"></select>

    <div class="form__checkbox-wrapper">
      <label class="form__label" for="gif">Convert to 560px GIF</label>
      <input class="form__checkbox" type="checkbox" id="gif" name="gif">
    </div>

    <div class="form__checkbox-wrapper">
      <label class="form__label" for="index">Include in index</label>
      <input class="form__checkbox" type="checkbox" id="index" name="index">
    </div>
  </div>

  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <% if(errorMessage) { %>
    <p class="error">
      <%= errorMessage %>
    </p>
    <% } %>
      <button class="btn" type="submit">Upload</button>
</form>

<script src="/languages.js"></script>
<script>
  const file = document.getElementById("file");
  const btn = document.querySelector(".btn");
  const language = document.getElementById("languageSelect");

  languages.forEach((lang) => {
    const option = document.createElement("option");
    option.value = lang.value;
    option.textContent = lang.name;
    language.appendChild(option);
  });


  file.addEventListener("change", function () {
    var fileName = this.files[0].name;
    document.getElementById("fileName").textContent = fileName ?? "No file selected.";
    document.getElementById("downloadName").value = fileName;

    const ext = fileName.split(".").pop();
    const lang = languages.find((l) => l.exts.includes(ext));
    if (lang) {
      language.value = lang.value;
    } else {
      language.value = "none";
    }
  });

  btn.addEventListener("click", () => {
    file.click();
  });
  btn.addEventListener("keydown", (e) => {
    if (e.key === "Enter") {
      file.click();
    }
  });
</script>
