<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <% if (renderMetaTags) { %>
    <%- include("metatags.ejs") %>
  <% } else { %>
    <meta content="noindex, nofollow" name="robots">
  <% } %>
  <link rel="stylesheet" href="/style.css">
  <title><%= page %> | <%= site %></title>
</head>
<body>
  <% if (renderNavbar) { %>
    <%- include("navbar.ejs", { user }) %>
  <% } %>
  <main <%= mainClass %>>
    <%- body %>
  </main>
</body>
</html>
