<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="noindex, nofollow" name="robots">
  <link rel="stylesheet" href="/style.css">
  <title><%= page %> | <%= site %></title>
</head>
<body>
  <% renderNavbar = typeof renderNavbar === 'undefined' ? true : renderNavbar; %>
  <% if (renderNavbar) { %>
    <%- include("navbar.ejs", { user }) %>
  <% } %>
  <main <%= mainClass %>>
    <%- body %>
  </main>
  <script>
    let reload = false;

    if (reload) {
      window.setTimeout( function() {
        window.location.reload();
      }, 1500);
    }
  </script>
</body>
</html>
