<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="title" content="NexTool">
  <meta name="description" content="NexTool: File uploading, sharing, URL shortener, and other tools all in one platform.">
  <meta name="keywords" content="tools.slhn.cz, nextool, file uploading, file sharing, url shortener">
  <meta name="robots" content="index, nofollow">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="English">
  <meta name="revisit-after" content="7 days">
  <meta name="author" content="František Šilhán">
  <meta name="theme-color" content="#4c1c63">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/style.css">
  <title><%= page %> | <%= site %></title>
</head>
<body>
  <%- include("navbar.ejs", { user }) %>
  <main <%= mainClass %>>
    <%- body %>
  </main>
  <script>
    let reload = false;

    if (reload) {
      window.setTimeout( function() {
        window.location.reload();
      }, 1500);
    }
  </script>
</body>
</html>
